@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 42px;
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: red orange; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 24px;
  /* border: 3px solid inherit; */
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}


.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-top: 1em;
  min-height: calc(100vh);
}

.content {
  padding: 3em;
}

.title {
  font-size: 48px;
  color: #291507;
  font-weight: bold;
  line-height: 59px;
  letter-spacing: .2px;
}

.paragraph {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: .1px;
  color: #291507;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}



.card__image--first::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 75%;
  top: 15%;
  left: -13px;
  background: #DEC68B;
  /* border-radius: 14px; */
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.router {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (max-width: 768px) {
  .content {
    padding: 2em;
  }

  .title {
    font-size: 30px;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    padding: 1.5em;
  }

  .title {
    font-size: 40px;
  }
}